@import (reference) '../bower_components/bootstrap/less/bootstrap.less';

body,html {
    height: 100%;
}
body {
    background-image: url('/images/background.png');
}

body > .container {
    /* background: white; */
    min-height: 100%;
}

.header,.nav-tabs {
    background-color: rgba(255, 255, 255, 0.70);
    li.active {
    }
}
.header {
    .title-row {
	.make-row();
	margin-top: 5px;
	.text-center;
	a {
	    text-decoration: none;
	    color: @text-color;
	}
    }
    .second-row {
	.make-row();
	margin-top: 10px;
	> div {
	    .make-sm-column(4);
	}
	h2 {
	    margin-top: 0px;
	    font-size: 185%;
	}
    }
    .logo {
	.make-md-column(1);
	img { .img-responsive(); }
    }
    .sponsor-logo {
	.text-center;
    }
    .title {
	.make-md-column(10);
	.text-center;
    }
    h2 { font-size: 185%; }
}

.content {
    background: white;
    height: auto;
    padding: 15px 15px 50px 15px;
}

/* Holds contact details on the "Contact Us" page */
.contact-box {
    .make-md-column(4);
}