@import (reference) '../bower_components/bootstrap/less/bootstrap.less';

body,html {
    height: 100%;
}
body {
    background-image: url('/images/background.png');
}

body > .container {
    /* background: white; */
    min-height: 100%;
}

.header,.nav-tabs {
    background-color: rgba(255, 255, 255, 0.80);
}

.container {
    background-image: url('/images/hemoglobin-bg.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-origin: content-box;
}

.header {
    @media (max-width: @screen-lg-min)
    {
	.text-center;
	h2 {.text-center}; /* Override a .text-right */
	img {
	    .center-block;
	    .img-responsive();
	}
    }
    .title-row {
	.make-row();
	padding-top: 10px;
	.text-center;
	a {
	    text-decoration: none;
	    color: @text-color;
	}
    }
    .second-row {
	.make-row();
	margin-top: 10px;
	h2 {
	    margin-top: 0px;
	    font-size: 185%;
	}
    }
    img { .img-responsive(); }
    .logo {
	vertical-align: middle;
	.make-md-column(2);
    }
    .acs-logo {
	img { .img-responsive(); }
	margin-top: 39px;
    }
    .sponsor-logo {
	.make-md-column(2);
	.make-md-column-offset(1);
	.text-center;
	img {
	    max-width: 50px;
	    .img-responsive();
	}
    }
    .title {
	.make-md-column(8);
	.text-center;
    }
    h2 { font-size: 185%; }
}

.permanent-sponsors {
    .make-row();
    img {
	.img-responsive();
    }
    margin-bottom: 20px;
}

.rotating-sponsors {
    color: black;
}

.content {
    background: white;
    height: auto;
    padding: 15px 15px 50px 15px;
}

/* Holds contact details on the "Contact Us" page */
.contact-box {
    .make-md-column(4);
}

/* Spaces maps showing sections in each district */
.district-maps {
    img {
	.img-responsive();
	.img-rounded;
	margin-top: 10px;
	margin-bottom: 10px;
    }
}

.awards .award-section{
    .nominate-button {
	.btn;
	.btn-primary;
    }
    .award-block {
	.make-sm-column(6);
    }
    h2 {
	background-color: @state-info-bg;
	padding: 5px;
	border-radius: 5px;
    }
    .more-button {
	.btn;
	.btn-link;
    }
}

.promotional-materials {
    dt {
	margin-top: 10px;
    }
    dd {
	margin-left: 25px;
    }
}

.closed-deadline {
    font-style: italic;
    color: rgb(170, 170, 170);
}

.active-deadline {
    font-weight: bold;
}

/* Countdown timer to the start of the conference */
.countdown-timer {
    .panel;
    .panel-info;
    .panel-body {
	.text-center;
    }
    .months,.days,.hours,.minutes,.seconds {
	font-size: 48px;
    }
}