  <dt>Food Fraud: What’s on Your Plate?</dt>
  <dd>David Bolliet</dd>
  <dt>Food Microstructures and Characterization</dt>
  <dd>Jinping Dong</dd>
  <dt>Color Your Food - Meeting the Challenges of Natural Food Colors</dt>
  <dd>Shane McDonald</dd>
  <dt>Food Safety: Science and a Safe Global Food Supply</dt>
  <dd>Raymond Zielinski</dd>
  <dt>Health benefits of Natural Products in spices: The Past, Present and Future</dt>
  <dd>Rekha Srinivasan</dd>
  <dt>Assessment in Chemical Education</dt>
  <dd>Francis Burns</dd>
  <dt>Organic Chemistry Research at Primarily Undergraduate Institutions</dt>
  <dd>Jay Wackerly</dd>
  <dt>Evidence Based Course Transformations</dt>
  <dd>Melanie Cooper</dd>
  <dt>High School, Community College, and Undergradaute Education</dt>
  <dd>Thomas Higgins</dd>
  <dt>Green Chemistry in the Undergradaute Organic Curriculum</dt>
  <dd>Nick Hill</dd>
  <dt>Research at Undergraduate Institutions</dt>
  <dd>Bradley Wile</dd>
  <dt>Catalysis and Surface Science to Advance Energy Efficiency</dt>
  <dd>Dan Killelea</dd>
  <dt>Nanophotonics for Energy and Catalysis</dt>
  <dd>Ramakrishna Guda</dd>
  <dt>Innovative methods for the identification, removal or transformation of pollutants from run-off, storm water, or waste water</dt>
  <dd>Julie Peller</dd>
  <dt>Green Chemistry and Sustainability</dt>
  <dd>Sherine Obare</dd>
  <dt>Green Chemistry in the Undergradaute Organic Curriculum</dt>
  <dd>Nick Hill</dd>
  <dt>History of Chemistry</dt>
  <dd>Seth Rasmussen</dd>
  <dt>Upjohn, A Medicinal Chemistry Legacy in 2015</dt>
  <dd>Jed Fisher</dd>
  <dt>Parke-Davis, A Medicinal Chemistry Legacy in 2015</dt>
  <dd>Jed Fisher</dd>
  <dt>Kinase Drug Discovery</dt>
  <dd>Jed Fisher</dd>
  <dt>Academic Drug Discovery: Challenges, Successes, Private Partnerships</dt>
  <dd>Jed Fisher</dd>
  <dt>Drug Discovery (Contributed Papers Session)</dt>
  <dd>Jed Fisher</dd>
  <dt>Mechanisms of antibiotic resistance</dt>
  <dd>Rachel Powers</dd>
  <dt>Health benefits of Natural Products in spices: The Past, Present and Future</dt>
  <dd>Rekha Srinivasan</dd>
  <dt>Harnessing Radicals in Organic Synthesis</dt>
  <dd>David Nagib</dd>
  <dt>Entrepreneurs' Tool Kit: Resources and True Stories</dt>
  <dd>Joe Sabol</dd>
  <dt>General Call for Papers</dt>
  <dd>James Kiddle</dd>
  <dt>General Call for Papers</dt>
  <dd>James Kiddle</dd>
  <dt>Undergraduate Poster Session</dt>
  <dd>James Kiddle</dd>
