<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Jasmine Test Runner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png"
	  href="/bower_components/jasmine/images/jasmine_favicon.png">
    <link rel="stylesheet" type="text/css"
	  href="/bower_components/jasmine/lib/jasmine-core/jasmine.css">
  </head>

  <body>
    <!-- Javascript files -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/main.js"></script>

    <script type="text/javascript"
	    src="/bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
    <script type="text/javascript"
	    src="/bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
    <script type="text/javascript"
	    src="/bower_components/jasmine/lib/jasmine-core/boot.js"></script>
        <script type="text/javascript"
	    src="/js/tests.js"></script>
  </body>

{{ page.content }}

</html>
